spring.mail.username=
spring.mail.password=
spring.mail.host=
spring.mail.port=
spring.mail.properties.mail.smtp.auth=
spring.mail.properties.mail.smtp.starttls.enable=
spring.mail.properties.mail.smtp.starttls.required=
spring.mail.properties.mail.smtp.connectiontimeout=
spring.mail.properties.mail.smtp.timeout=
spring.mail.properties.mail.smtp.writetimeout=
spring.mail.properties.mail.debug=
app.url=
app.name=
logging.level.org.springframework.security.access=
logging.level.org.springframework.security.web=
spring.jpa.hibernate.ddl-auto=
spring.jpa.show-sql=
datasource.url=jdbc:postgresql://localhost/paw
datasource.username=root
datasource.password=root
cors.url=http://localhost:8080
